* {
  margin:0;
  padding:0;
  font-family: Meiryo, Verdana, sans-serif;
  font-size: 10pt;
}

body {
  margin:10px 10px 10px 10px;
  padding:0;
  width:  350px;
  color: #333333;
  background: #9ae4e8 url(http://assets0.twitter.com/images/bg.gif) fixed no-repeat top left;
  font-family: Meiryo, Verdana, sans-serif;
  font-size: 10pt;
}

#comment {
  padding : 5px 5px 5px 5px;
  background: #ffffff;
  width : 320px;
  word-break: break-all;
  font-size: 12pt;
  overflow: visible;
}

#comment-footer {
  padding : 5px 5px 5px 5px;
  background: #ffffff;
  width : 320px;
  word-break: break-all;
  font-size: 12pt;
  overflow: visible;
  text-align: right;
}

#padding {
  margin : 0px 0px 0px 20px;
  width : 48px;
  height : 10px;
}


#profile-image {
  margin : 0px 0px 0px 20px;
  width : 48px;
}

#username {
  width : 240px;
  padding : 5px 5px 5px 15px;
  font-size : 12pt;
  white-space : nowrap;
  overflow: hidden;
}

#time {
  width : 160px;
  height : 20px;
  font-size : 9pt;
  white-space : nowrap;
  overflow: hidden;
}

#source {
  width : 120px;
  height : 20px;
  font-size : 9pt;
  white-space : nowrap;
  overflow: hidden;
}

#retweet {
  width : 20px;
  height : 20px;
  font-size : 8pt;
  white-space : nowrap;
  overflow: hidden;
  vertical-align: bottom;
  cursor: pointer;
}

a.twitter {
  color: #000000;
  text-decoration: none;
}

a.buzzword {
  color: #000000;
  text-decoration: none;
  font-size: 12pt;
  font-weight: bold;
}

.buttons {
  padding : 2px 2px 2px 2px;
  empty-cells:show;
}

img {
    border-style:none;
}
